@media (min-width:760px){
body{
  width: 960px;
  align-items: center;
  margin: auto
  
  
}
}

nav{
  margin: auto;
  width: 480px;
}


.a{
  width: 480px;
  height: 75px;
  border: 1px;
  
  background-color:bisque;
}

.b{
  width: 480px;
  height: 150px;
  border: 1px;
  
  background-color:brown;
}

.c{
  width: 480px;
  height: 125px;
  border: 1px;
  
  background-color:blue;
}

.d{
  width: 480px;
  height: 125px;
  border: 1px;
  
  background-color: gray;
}

.e{
  width: 240px;
  height: 250px;
  border: 1px;
  
  background-color: red;
}

.f{
  float: right;
  margin-top: -250px; 
  margin-right: 480px;
  width: 240px;
  height: 250px;
  border: 1px;
  background-color: beige;
  
}

.g{
  width: 240px;
  height: 250px;
  border: 1px;
  
  background-color:goldenrod;
}

.h{
  float: right;
  margin-top: -250px;
  margin-right: 480px;
  width: 240px;
  height: 250px;
  border: 1px;
  
  background-color:peru;
}

.i{
 
  width: 480px;
  height: 80px;
  border: 1px;
  
  background-color:seagreen;
}