/* * Mobile View *   */
 /* had to add main width: 480px to fix issues with aliging boxes   */
main{
  width: 480px;
}

    body{
    
     text-align: center;
         
  }

  #a{
   line-height:75px;
    width: 480px;
    height: 75px;
    background-color:bisque;
  }
 

  #b{
    line-height: 150px;
    width: 480px;
    height: 150px; 
    background-color:brown;
  }
  
  #c{
    line-height: 125px;
    width: 480px;
    height: 125px;
    border: 1px;  
    background-color:blue;
  }
  
  #d{
    line-height: 125px;
    width: 480px;
    height: 125px;
    background-color: gray;
  }
  
  #e{
    float: left; 
    line-height: 250px;
    width: 240px;
    height: 250px;
    background-color: red;
  }
  
  #f{
    line-height: 250px;
    float: left; 
    width: 240px;
    height: 250px;
    background-color: cornflowerblue;
    
  }
  
  #g{
    float: left; 
    line-height: 250px;
    width: 240px;
    height: 250px;
    background-color:goldenrod;
  }
  
  #h{
    line-height: 250px;
    float: left; 
    width: 240px;
    height: 250px; 
    background-color:peru;
  }
  /* had to put float:left to #e, #f, #g, and #h in order to make boxes line up */
  #i{ 
    line-height: 80px; 
    width: 480px;
    height: 80px;
    background-color:seagreen;
    clear: both;   
  } 
 
/* forgot to add "clear:both" in line 81 */


  
  /* * Desktop View *   */
@media(min-width:958px){
  main {
    display: grid;
    grid-template-columns: 200px 190px 190px 190px 190px;
    grid-template-rows: 100px 200px 250px 150px;
    width: 960px;    
    
  }
    /* had to put this line 98 to 101 in to fix issue  with alignment on desktop view*/
  main > div{    
    width: 100% !important;
    height: 100% !important;
  }
  
  body{ 
   text-align: center;
  }

#a {
  line-height:100px ;
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 2;
  background-color:bisque;
 }


 #b{
   line-height: 600px ;
   grid-column-start: 1;
   grid-column-end: 2;
   grid-row-start: 2;
   grid-row-end: 5;
   background-color:brown;
 }
 
 #c{
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end:  3;
   line-height: 200px;
   background-color:blue;
 }
 #d {
  grid-column-start: 4;
  grid-column-end: 6;
  grid-row-start: 2;
  grid-row-end: 3;
  line-height: 200px;
  background-color: darkgoldenrod;
}
 
 #e{ 
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
  line-height: 250px ;
  background-color: gray;
  
 }

 #f{ 
  margin-top: 0;
  margin-bottom: 0;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
  line-height: 250px ;
  background-color: darkorange;
}
#g{ 
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 4;
  line-height: 250px ;
  background-color:seagreen;
}
#h{ 
  margin-top: 0;
  margin-bottom: 0;
  grid-column-start: 5;
   grid-column-end: 6;
   grid-row-start: 3;
   grid-row-end: 4;
  line-height: 250px ;
  background-color: springgreen;
}
 
 #i{
  grid-column-start: 2;
   grid-column-end: 6;
   grid-row-start: 4;
   grid-row-end: 5;
   line-height: 150px;
   background-color: red;
 }
 

/* * Tablet View *   */
 @media(max-width:958px) and (min-width:480px){


#a {
  
  background-color: purple;
 }


 #b{
  
   background-color: plum;
 }
 
 #c{
 
   background-color: blueviolet;
 }
 #d {
  
  background-color: greenyellow;
}
 
 #e{ 

  background-color:burlywood;
  
 }

 #f{ 
  
  background-color: blueviolet;
}
#g{ 
 
  background-color:skyblue;
}
#h{ 
  
  background-color: orangered
}
 
 #i{
 
   background-color:springgreen;
 }

 }



 
